.transactionsDiv {
    background-image: url('../../assets/summer_background_47_a.jpg');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding: 0;
    margin: 0 auto;
}

#transactionsTitle {
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
    color:#FEDE2C;
    font-size: 3.5rem;
    text-shadow: 0 0 8px rgba(74, 144, 226, 0.3); 
    text-align: left;
}

.transactionsMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: #FEDE2C solid 3px;
    border-radius: 5px;
    background-color: white;
    font-family: "Fredoka", sans-serif;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}

.topPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 0;
    width: 100%;
}

.topPanelBtns {
    display: flex;
    gap: 20px;
}

#filterBtn, #sortBtn {
    font-family: "Fredoka", sans-serif;
    font-size: 15px;
    border: #FEDE2C solid 2px;
    border-radius: 10px;
    background-color: #FEDE2C;
    width: auto;
    min-width: 120px;
    white-space: nowrap;
    padding: 2%;
    box-sizing: border-box;                     
    box-shadow: 0 8px 24px rgba(0,0,0,0.1); 
}

#filterBtn:hover, #sortBtn:hover {
    border: #e1c731 solid 2px;
    background-color: #e1c731;
}

#addTransBtn {
    font-family: "Fredoka", sans-serif;
    font-size: 15px;
    border: #F0BECD solid 2px;
    border-radius: 10px;
    background-color: #F0BECD;
    width: auto;
    min-width: 150px;
    white-space: nowrap;
    padding: 2%;
    box-sizing: border-box;                     
    box-shadow: 0 8px 24px rgba(0,0,0,0.1); 
}

#addTransBtn:hover {
    border: #d5abb8 solid 2px;
    background-color: #d5abb8;
}

.middlePanel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

#editBtn {
    font-family: "Fredoka", sans-serif;
    font-size: 13px;
    border: #FEDE2C solid 2px;
    border-radius: 10px;
    background-color: #FEDE2C;
    width: auto;
    min-width: 90px;
    white-space: nowrap;
    padding: 5px;
    box-sizing: border-box;                     
    box-shadow: 0 8px 24px rgba(0,0,0,0.1); 
}

.transactions {
    position: relative;
    border-collapse: separate; 
    width: 100%;
    border: black solid 1px;
    table-layout: fixed;
    border-radius: 5px;
}

.transactions tr {
    border: black solid 1px;
}

.transactions tr th{
    font-size: 30px;
    text-align: left;
    color: #6eaac2;
}

.transactions tr td{
    font-size: 20px;
    padding: 15px 5px;
    vertical-align: middle;
}

#editBtnTrans, #deleteBtnTrans {
    width: 22px;
}

#editBtnT, #deleteBtnT {
    border: none;
    background-color: white;
}

#editIcon, #deleteIcon {
    width: 20px;
    height: 20px;
}

#editIcon {
    filter: invert(72%) sepia(21%) saturate(769%) hue-rotate(151deg) brightness(87%) contrast(85%);
}

#deleteIcon { 
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

#deleteIcon:hover, #editIcon:hover {
    filter: hue-rotate(350deg) brightness(0.5) saturate(3) contrast(1.2);
    cursor: pointer;
}

.transactions th:nth-child(1) { width: 15%; }
.transactions th:nth-child(2) { width: 25%; }
.transactions th:nth-child(3) { width: 35%; }
.transactions th:nth-child(4) { width: 10; }

.transactions th:nth-child(5),
.transactions th:nth-child(6) {
    width: 4%;   
    text-align: center;
    padding: 0;  
}