* {
    margin: 0;
}

.signUpDiv {
    background-image: url('../../assets/summer_background_47_a.webp');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.signUpMain {
    background-color: white;
    border: 3px solid #FEDE2C;
    border-radius: 12px;
    font-family: "Fredoka", sans-serif;
    margin: 0;
    padding: 3% 6%;   
    box-sizing: border-box;                     
    box-shadow: 0 8px 24px rgba(0,0,0,0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#signUpTitle {
    color:black;
    font-size: 3.5rem;
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.UserName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#signUpFName, #signUpLName, #signUpEmail, #signUpPass, #signUpPass2 {
    padding: 5%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: #94D4ED;
    border-width: 3px;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

#signUpFName {
    margin-right: 10px;
}

#signUpFName:focus, #signUpLName:focus, #signUpEmail:focus, #signUpPass:focus, #signUpPass2:focus {
    border-color: #FED18C; 
    outline: none;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3); 
    transition: border-color 0.3s ease;
}

.signUpButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
}

#loginLink {
    border: none;
    background: none;
    text-decoration: underline;
    color: black;
}

#signUpSubmit {
    margin-top: 15px;
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 5px;
    border-color: #94D4ED;
    background-color: #94D4ED;
    padding: 10px 10px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1); 
    font-family: "Fredoka", sans-serif;
}

#signUpSubmit:hover {
    border-color: #78adc2;
    background-color: #78adc2;
}

#duckImgSignUp {
    position: absolute;
    bottom: 0.1%; 
    right: 85%;
    width: 120px; 
    height: auto;
    animation: floatS 3s ease-in-out infinite;
    z-index: 10;
}

#signUpError {
    color: red;
}

@keyframes floatS {
    0% { transform: scaleX(-1) translateY(0px); }
    50% { transform: scaleX(-1) translateY(-10px); }
    100% { transform: scaleX(-1) translateY(0px); }
}