* {
    margin: 0;
}

.budgetDiv{
    background-image: url('../../assets/summer_background_47_a.jpg');
    background-size: cover;
    min-height: 100vh;
    padding: 24px;
    box-sizing: border-box;
}

#budgetTitle {
    margin-bottom: 24px;
    font-family: "Fredoka", sans-serif;
    font-size: 40px;
    color:#FEDE2C;
    text-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.budgetTableContainer {
    background-color: #ffffff;
    border: 3px solid #FEDE2C;
    border-radius: 12px;
    padding: 24px;
}

.tableHeader {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: "Fredoka", sans-serif;
}

.tableHeaderLeft {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
}

.tableHeader h2{
    font-weight: normal;
}

#budgetCat {
    background-color: #FEDE2C;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Fredoka", sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);

}

#resetAllBtn{
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: "Fredoka", sans-serif;
}

#budgetTable {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    font-family: "Fredoka", sans-serif;
}

#budgetTable th {
    background-color: #87CFEB;
    padding: 12px;
    text-align: center;
    border: 1px solid black;
    font-weight: normal;
}

#budgetTable td {
    padding: 16px 12px;
    text-align: center;
    border: 1px solid black;
    font-weight: normal;
}

#budgetTable tfoot td {
    background-color: #87CFEB;
    font-weight: normal
}

.editBtnBudg, .deleteBtnBudg {
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px;
    margin: 0 4px;
}

#editIcon, #deleteIcon {
    width: 20px;
    height: 20px;
    display: block;
}

#editIcon {
    filter: invert(72%) sepia(21%) saturate(769%) hue-rotate(151deg) brightness(87%) contrast(85%);
}

#deleteIcon { 
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

#editModeBtn {
    background-color: #87CFEB;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Fredoka", sans-serif;
}

#doneModeBtn {
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: "Fredoka", sans-serif;
}


#editModeBtn:hover {
    background-color: #6bbedd;
}

#doneModeBtn:hover {
    background-color: #dd6b6b;
}

.confirmOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    font-family: "Fredoka", sans-serif;
}

.confirmBox {
    width: 400px;
    background-color: #ffffff;
    border: 3px solid #FEDE2C;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.confirmBox p {
    font-size: 18px;
    margin: 0;
}

.confirmButtons {
    display: flex;
    gap: 16px;
}

.confirmBtn {
    width: 120px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: "Fredoka", sans-serif;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.confirmBtn.confirm {
    background-color: #ff4d4d;
    color: white;
}

.confirmBtn.cancel {
    background-color: #FEDE2C;
}

#AYS{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: -10px;
}

#duckImgBudget {
    display: block;
    margin-top: 16px;
    margin-left: auto;
    width: 120px; 
    height: auto;
    animation: float 3s ease-in-out infinite;
}
