.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);           
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
}

.formCard {
    background-color: white;
    border: solid #FEDE2C 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3% 5%;
    font-family: "Fredoka", sans-serif;
}

#closeForm {
    font-family: "Fredoka", sans-serif;
    font-weight: bold;
    border: none;
    background-color: white;
    position: relative;
    left: 130px;
    bottom: 25px;
}

#closeForm:hover {
    color: red;
    background-color: rgb(232, 232, 232);
}

#addTitle {
    position: relative;
    margin-bottom: 30px;
}

.newTransaction {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.newTransaction input, #transNote, #transCategory {
    font-family: "Fredoka", sans-serif;
    border: #94D4ED solid 2px;
    border-radius: 7px;
    padding: 5%;
    box-sizing: border-box;
    width: 100%;
    min-width: 220px;
}

.newTransaction input:focus, #transNote:focus, #transCategory:focus {
    border-color: #F0BECD; 
    outline: none;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3); 
    transition: border-color 0.3s ease;
}

#transCategory:focus {
    border-color: #F0BECD; 
    outline: none;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3); 
    transition: border-color 0.3s ease;
}

#newTransSubmit {
    font-family: "Fredoka", sans-serif;
    position: relative;
    border: #F0BECD solid 2px; 
    border-radius: 5px;
    background-color: #F0BECD;
    max-width: 100px;
    padding: 2%;
    margin-left: 60px;
}

#newTransSubmit:hover {
    border: #dfb0bf solid 2px; 
    background-color: #dfb0bf;
}